.btn {
  &:link,
  &:visited {
    padding: 1rem 3rem;
    border: 1px solid $color-primary;
    background-color: $color-white;
    color: $color-primary;
    border-radius: 100px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.2);
  }

  &__primary {
    padding: 1rem 3rem;
    border: none;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 100px;
    transition: all 0.2s;
    font-size: 1.5rem;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
      box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.2);
    }
  }

  &__primary-light {
    padding: 1rem 3rem;
    border: none;
    background-color: $color-primary-light;
    color: $color-primary;
    cursor: pointer;
    border-radius: 100px;
    transition: all 0.2s;
    font-size: 1.5rem;

    span {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 1rem;
      align-items: center;
    }

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.2);
    }
  }

  &__white {
    padding: 1rem 3rem;
    border: none;
    background-color: $color-white;
    color: $color-black;
    border-radius: 100px;
    transition: all 0.2s;
    font-size: 1.5rem;

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.09);
    }
  }
}
